body {
    font-family: sans-serif;
}

td {
    background-color: skyblue;
    padding: 3px;
    border-radius: 10px;
    width: 40px;
    /* height: 5px; */
    font-size: 15px;
    text-align: center;
}

td sup {
    display: block;
    text-align: start;
    font-size: 10px;
    padding-left: 5px;
    
}

td span {
    font-size: 10px;
}

.main-text {
    font-size: 20px;
    font-weight: 600;
}