* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

#navbar {
    height: 60px;
    background-color: #131921;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.border {
    border: 1.5px solid transparent;
}

.border:hover {
    border: 1.5px solid white;
    border-radius: 3px;
}

/* Logo styling */

.logo-img img {
    width: 105px;
    height: 35px;
}

/* Location styling */

.delivery-location {
    display: flex;
    font-size: 0.7rem;
    color: #cccccc;
}

.delivery-location i {
    padding-top: 10px;
    font-size: 1.2rem;
    color: white;
}

.country-name {
    margin-left: 4px;
}

.country-name span {
    display: block;
    font-size: 1rem;
    color: white;
}

/* Search styling */

.search-section {
    display: flex;
    border-radius: 5px;
    overflow: hidden;
}

.search-section:focus-within {
    outline: 3px solid #FF9900;
    /* outline-offset: 1px; */
}

.search-section .drop-down select {
    width: 3rem;
    height: 2.5rem;
    text-align: center;
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
    border: none;
    background-color: #f3f3f3;
}

.search-section .search-input input {
    width: 38rem;
    height: 2.5rem;
    padding: 5px;
    border: none;
    outline: none;
    font-size: 1rem;
    /* text-align: center; */
}

.search-section .search-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F3A847;
    color: black;
    height: 2.5rem;
    width: 2.7rem;
    font-size: 1.5rem;
    border-bottom-right-radius: 2px;
    border-top-right-radius: 2px;
}

/* Language section */

.language-section {
    display: flex;
    align-items: center;
}

.language-section div {
    margin: 0 5px;
    padding: 8px 5px;
}

.flag-alpha {
    display: flex;
    align-items: center;
    
}

.flag-alpha img {
    width: 1.1rem;
    height: 0.9rem;
}

.flag-alpha p {
    font-size: 0.8rem;
}

.account-page {
    font-size: 0.8rem;
}

.account-page span {
    font-size: 0.8rem;
    font-weight: 700;
}

.returns-orders {
    font-size: 0.8rem;
}

.returns-orders span {
    font-size: 0.9rem;
    font-weight: 700;
}

.cart {
    display: flex;
    font-size: 1.5rem;
}

.cart p {
    font-size: 0.9rem;
    font-weight: 700;
    padding-top: 9px;
}

/****** Nav Panel */

.nav-panel {
    background-color: #232F3E;
    height: 40px;
    color: white;
}

.panel-sections {
    display: flex;
    padding-top: 10px;
    padding-left: 10px;
    gap: 10px;
}

.panel-menu i {
    font-size: 1.2rem;
    font-weight: 600;
}

.panel-categories {
    display: flex;
    gap: 10px;
    align-items: center;
    font-size: 0.8rem;
    font-weight: 600;
}

