* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

#navbar {
    height: 80px;
    background-color: #131921;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.border {
    border: 1.5px solid transparent;
}

.border:hover {
    border: 1.5px solid white;
}

/* Logo styling */

.logo-img img {
    width: 113px;
    height: 60px;
}

/* Location styling */

.delivery-location {
    display: flex;
    font-size: 0.7rem;
    color: #cccccc;
}

.delivery-location i {
    padding-top: 10px;
    font-size: 1.2rem;
    color: white;
}

.country-name {
    margin-left: 4px;
}

.country-name span {
    display: block;
    font-size: 1rem;
    color: white;
}

/* Searching styling */

.search-section {
    display: flex;
    background-color: pink;
    border-radius: 5px;
    overflow: hidden;
}

.search-section .drop-down select {
    width: 2.9rem;
    height: 2.5rem;
    text-align: center;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    border: none;
    background-color: #f3f3f3;
}

.search-section .search-input input {
    width: 30rem;
    height: 2.5rem;
    padding: 5px;
    border: none;
}

.search-section .search-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F3A847;
    color: black;
    height: 2.5rem;
    width: 2.5rem;
    font-size: 1.5rem;
    border-bottom-right-radius: 3px;
    border-top-right-radius: 3px;
}

